<h1>My Tasks 📑</h1>

<ul>
  <% @tasks.each do |task| %>

       <li> <%= check_box_tag 'completed', 1, task.completed %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to "destroy", task_path(task.id),
        method: :delete,
        data: {confirm: "Are you sure?"} %>

       </li>
  <% end %>
</ul>

<%= link_to "+ Add a new task", tasks_new_path %>




